.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    background: #003946 !important;
    position: fixed; /* Change this from 'relative' to 'fixed' */
    top: 0; /* Align the header to the top of the viewport */
    left: 0; /* Align the header to the left of the viewport */
    right: 0; /* Ensure the header extends to the right of the viewport */
    z-index: 1000; /* Ensure the header stays on top of other content */
    min-height: 1px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

    .footer-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        min-height: 1px;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        
    }

.btn {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        background-color: transparent;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        margin-left: auto;
        margin-right: 15px;
        padding: 0;
        outline: none;
        font-size: 16pt;
        display: flex;
        align-items: center;
        color: #3d3d54;
        text-decoration: none;
        font-family: 'Montserrat-Regular';
    }

.main-wrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0 0 0;
    background: url(assets/BG_HEADER01_home-a14adfde3eff7882bc9a383115eb0ee49f2c6d52c2f1923b684f266a3c177aed.png) repeat-x center center fixed;
    background-size: cover;
    text-align: center;
    padding-bottom: 25px;
}

.main-body-span {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Rubik-Bold';
    font-size: 45pt;
    box-sizing: border-box;
    color: #ee613c;
}

.main-body-h1 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Rubik-Bold';
    margin: 30px 0 50px 0;
    padding: 0;
    color: #3d3d54;
    font-size: 45pt;
}

.main-body-h3 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.1;
    font-family: 'DroidSerif-Italic';
    font-weight: normal;
    margin: 15px 0 15px 0;
    padding: 0;
    color: #3d3d54;
    font-size: 14pt;
}

.main-body-h2 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Rubik-Medium';
    margin: 0;
    padding: 0;
    color: #3d3d54;
    font-size: 24pt;
}

.main-body-h4 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.1;
    font-size: 18px;
    font-family: 'Rubik-Light';
    font-weight: normal;
    margin: 0px 0 15px 0;
    padding: 0;
    color: #3d3d54;
}

.confira-link {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    background-color: transparent;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3d3d54;
    margin: 20px 0 0 0 ;
    padding: 0;
    outline: none;
    font-size: 16pt;
    font-family: 'Rubik-Medium';
}

.confira-aqui {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    background-color: transparent;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3d3d54;
    margin: 0;
    padding: 20px 5px 0 0;
    text-decoration: underline;
    outline: none;
    font-size: 16pt;
    font-family: 'Rubik-Medium';
}

.botao-comecar {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    color: #337ab7;
    text-decoration: none;
    outline: none;
}

.btn2 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    max-width: fit-content;
    padding: 10px 30px;
    background: #ee613c;
    color: #fff !important;
    border: 1px solid #ee613c;
    border-radius: 30px;
    font-family: 'Montserrat-Regular';
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    -webkit-appearance: button;
    cursor: pointer;
}

footer {
    width: 100%;
    min-height: 20px;
    color: #3d3d54;
    background: #fff;
    padding: 65px 0 65px 0;
    border-top: 1px solid #f0eee3;
    box-shadow: 0 0 14px #d4d2cf inset;
}


.col-xs-0 col-sm-0 col-md-6 col-lg-6 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3d3d54;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
    display: inline-block;
    text-align: left;
    margin-right: 15px; 
}

.col-xs-0 col-sm-0 col-md-2 col-lg-2 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3d3d54;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 16.66666667%;
    text-align: right;
    display: inline-block;
    float: right;
}

.col-xs-12 col-sm-12 col-md-12 col-lg-12 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3d3d54;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;

}

.footer-h1-1 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #ee613c;
    margin: 0 0 10px 0;
    font-size: 17px;
    text-align: center;
    justify-content: center;
}


table {
    border-spacing: 0;
    border-collapse: collapse;
    float: left;
    display: inline-block;
    text-align: left;
}

table {
    display: inline-block;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    float: left;
    display: inline-block;
    text-align: left;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td, th {
    padding: 0;
}

footer a {
    color: #3d3d54;
    font-weight: 300;
    margin: 0 0 8px 0;
    display: block;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    text-align: left;
}
.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.aux0 {
    float: left;
    display: inline-block;
    text-align: left;
}

.step2-main-wrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
    text-align: center;
}


.nav-links {
    display: flex;
    gap: 20px; /* Adjust the space between the links */
    margin-right: 15px; /* Adjust as needed */
}

.nav-item {
    color: white; /* Initial color of the links */
    text-decoration: none; /* Removes underline from links */
    position: relative; /* Needed for the hover effect */
    transition: color 0.3s ease-in-out; /* Gradual transition for color */
}

    .nav-item::after {
        content: '';
        display: block;
        width: 0;
        height: 2px; /* Thickness of the orange bar */
        background: orange;
        transition: width 0.3s ease-in-out; /* Transition for the orange bar */
        position: absolute;
        bottom: -5px; /* Adjust as needed */
        left: 0;
    }

    .nav-item:hover {
        color: orange; /* Change text color on hover */
    }

        .nav-item:hover::after {
            width: 100%; /* Expand the orange bar to full width */
        }

    .nav-item:not(:hover)::after {
        transition: none; /* No transition when mouse leaves */
    }


